@charset "utf-8";
/* CSS Document */
body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #737373;
}
.fs_logo {
	width: 77px;
	height: 60px;
	background: url(../img/fullstack_logo.jpg);
	margin: 40px 0 0 0;
}
/*div{ border:1px solid #000;}*/
.abstractbg {
	background: url(../img/abstract_bg.jpg) no-repeat;
	background-position: top center;
}
.topmargin80 {
	margin-top: 80px;
}
.topmargin20{ margin-top:20px;}
.bottommargin20{ margin-bottom:20px;}


.bolditalic {
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-weight: 700;
}
.powered_logos {
	margin-top: 20px;
}
.powered_logos:last-child {
	margin-bottom: 40px;
}
.negmarginbox {
	margin-top: -5px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 20px -4px rgba(247,202,247,1);
	-moz-box-shadow: 0px 0px 20px -4px rgba(247,202,247,1);
	box-shadow: 0px 0px 20px -4px rgba(247,202,247,1);
}
.neg8 {
	margin-top: -28px;
}
.orange {
	color: #f15e2c;
}
h1 {
	font-size: 36px;
	font-weight: 400;
	font-style: italic;
	margin: 20px 0 20px 0;
}
p {
	
	margin-bottom: 40px;
}
h2 {
	font-size: 28px;
	font-weight: 400;
	font-style: italic;
    margin-bottom: 27px; 
}
.greybg {
	background: #a7aaad;
}
.fontsize17{ font-size:17px;}





.lightgreybg{ background: #f5f5f5;}


.aboutimage img{ border:2px solid #f15e2c}

.whitebg{ background:#fff;}
.forminput {
	background: none;
	border-bottom: 2px solid #fff;     font-size: 14px;
}
input {
	background: none;
	border: none;
	border-bottom: 2px solid #fff;
	margin-top: 20px;
	color: #fff;
	width: 100%;
}
::-webkit-input-placeholder {
color:#fff;
}
::-moz-placeholder {
color:#fff;
} /* firefox 19+ */
:-ms-input-placeholder {
color:#fff;
} /* ie */
input:-moz-placeholder {
color:#fff;
}
extarea:focus, input:focus {
	outline: none;
}
input:last-child {
	margin-bottom: 40px;
}
 input:-webkit-autofill {
 -webkit-box-shadow: 0 0 0px 1000px #a7aaad inset;
-webkit-text-fill-color:#fff !important;
font-family: 'Lato', sans-serif;
}
.country-select .country-list {
	width: 346px;
}
.form-item {
	margin-top: 20px;

}
.country-select .flag-dropdown {
	background: white;
}
.country-select .flag-dropdown:hover {
	background: #999;
}


.country-select input {

    font-size: 14px;

}




.btn-primary {
    color: #fff;
    background-color: #f15e2c;
   font-family:'Lato', sans-serif; font-weight:400; font-size:15px;     padding: 20px; border: 1px solid #f15e2c;
    width: 100%; transition: all 0.3s ease 0s; outline:0; 
}
.btn-primary:hover{ color:#737373; background:#f5f5f5;  border: 1px solid #a7aaad; }